<apex:page id="thePage" controller="SalesforceUtil" lightningStylesheets="true" >

  <script>
      window.onload = function(){
      
          let code    =   '{!$CurrentPage.parameters.code}';
          
          if( code ){
              accessTok();
          }
      }
  </script>
  
  <apex:form id="theForm" >
  
      <apex:outputPanel id="errorMessage">
      
      </apex:outputPanel>
      
      <apex:pageMessages ></apex:pageMessages>
      <apex:actionstatus id="theStatus">
        <apex:facet name="start">
            <div class="waitingSearchDiv" id="el_loading" 
                 style="background-color: #fbfbfb; height:100%;opacity:0.65;width:100%;">
                <div class="waitingHolder" style="top: 100px; width: 91px;">
                <img class="waitingImage" src="{!$Resource.loading}" title="Please Wait..." />
                <span class="waitingDescription">Loading...</span>
                </div>
            </div>
        </apex:facet>
    </apex:actionstatus>
      <apex:actionFunction name="accessTok" status="theStatus errorMessage"
                           action="{!getAccessToken}" reRender="theForm" />
                           
      <apex:pageBlock >
          <apex:pageBlockButtons >
              <apex:commandButton value="Authorize Salesforce Account" status="theStatus errorMessage" action="{!getAuthorizationCode}" />
          </apex:pageBlockButtons>
      </apex:pageBlock>
      
  </apex:form>
</apex:page>