<template>
    <lightning-card  variant="Narrow"  title="Quickbooks Customer" icon-name="standard:account">
        <div class="slds-var-m-around_large">

        </div>
        <div class="slds-var-m-around_large">
            <lightning-button variant="brand" label="Create Customer" title="Create Customer" 
                onclick={handleClick}>
            </lightning-button>
        </div>
    </lightning-card>
</template>